<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/打字母游戏/src/打字母游戏/打字母游戏.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="打字母游戏.打字母游戏"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="打字母游戏"/>
</launchConfiguration>
